@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

/* ______________________________________ FONTS
font-family: 'Alegreya Sans', sans-serif;
*/

/* ______________________________________ COLOR THEMES
default text
636363

functional -> red 
Ef4b4c 
hover
f66161

outline -> gray
cccccc

shade -> light gray
f1f1f1

light -> almost white
fbfbfb
*/

/*______________________________________ PRIMITIVE STYLES */
* {
  /* outline: dashed red; */
  font-family: 'Alegreya Sans', sans-serif;
  box-sizing: inherit;
  color: #636363;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fbfbfb;
}

h2 {
  margin: 4px 0 0 0;
  color: #Ef4b4c;
}

h3 {
  margin: 0 0 16px 0;
}

h4 {
  margin: 0;
  text-align: center;
}

h5 {
  text-align: center;
  margin: 16px 0 8px 8px;
  color: #Ef4b4c;
}


p {
  margin: 0;
}

a {
  color: rgb(0, 110, 255);
}

/*______________________________________ HIGH-LEVEL */
.home__about {
  text-decoration: none;
  margin: 0 8px;
  color: #Ef4b4c;
}

.navbar {
  z-index: 100;
  position: fixed;
  height: 40px;
  top: 0px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid #cccccc;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 0px 0 80px 0;
  align-items: center;
}

.main__public-page {
  margin-top: 60px;
}

/* app description */
.app-description {
  text-align: center;
  margin: 32px 16px;
}

.app-description__section {
  margin: 32px 16px;
  text-align: center;
}/* __________ */

.footer {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 0 16px;
  bottom: 0px;
  width: 100vw;
  height: 40px;
  background-color: #fff;
  border-top: 2px solid #ccc;
}

.user-image {
  border-radius: 99px;
  margin-right:8px;
}

.account-components {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.greeting {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

/*______________________________________ BUTTONS */
.absolute-button-top-right {
  position: absolute;
  right: 0px;
  top: 8px;
}

.absolute-button-top-right--second {
  position: absolute;
  right: 50px;
  top: 8px;
}

.absolute-button-bottom-left {
  position: absolute;
  bottom: 8px;
}

.absolute-button-bottom-right {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.action-button {
  background-color: #Ef4b4c;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  height: 24px;
  max-width: 100px;
  min-width: 60px;
  margin-right: 8px;
}

.action-button:hover {
  cursor: pointer;
  background-color: #f66161;
}

.navbar__button {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  height: 24px;
  max-width: 100px;
  margin-right: 8px;
}
.navbar__button:hover {
  cursor: pointer;
  background-color: #f1f1f1;
}

.account-buttons{
  z-index: 100;
  position: fixed;
  display: grid;
  grid-template: 'a b c d';
  width: 100vw;
  bottom: 0px;
  height: 48px;
  align-items: center;
  background-color: #fff;
}
.page-button{
  font-size: 16px;
  background-color: #fff;
  border: none;
  border-top: solid 1px #cccccc;
  color: #Ef4b4c;
  height: 48px;
  transition: .2s;
}
.page-button:hover {
  cursor: pointer;
  font-size: 18px;
  transition: .2s;
}
.page-button--selected {
  font-size: 16px;
  background-color: #fff;
  border: none;
  border-top: solid 1px #cccccc;
  color: #Ef4b4c;
  height: 48px;
  font-weight: bold;
  transition: .2s;
}

.page-button--selected:hover {
  font-size: 18px;
  transition: .2s;
}

.toggle-button {
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  margin-left: 0px;
  height: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-button:hover {
  cursor: pointer;
  background-color: #f1f1f1;
}

/*______________________________________ FORM */
pre {
  margin: 4px;
}

b {
  margin: 0 8px;
}

.form__offerings {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
}

.form__offerings-alone {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.create-event-form {
  display: flex;
  flex-direction: column;
  border-radius: .375rem;
}

textarea,
input {
  margin: 0px;
  border-radius: .375rem;
  border: solid #cccccc .5px;
  padding-left: 8px;
}

input {
  height: 28px;
}

.rti--container {
  margin-bottom: 8px;
}
.rti--input {
  width: 70% !important;
  height: 22px;
}

.inline-label-input {
  display: flex;
  align-items: center;
  margin-top: 6px;
}

.form__input-120w {
  width: 120px;
  margin-bottom: 8px;
}

.form__section-title {
  text-align: center;
  margin: 32px 0 8px 0;
}

/*______________________________________ CARDS */
.event-card {
  position: relative;
  margin: 8px 16px 32px;
  padding: 8px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: #cccccc 0px 2px 4px 1px;
  display: flex;
  flex-direction: column;
  width: 340px;
  min-height: 240px;
}

.manage__create-by {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.manage__add-guest {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
  margin-bottom: 8px;
}

.guest-list {
  margin: 4px 16px 8px;
  padding: 4px;
  background-color: #f1f1f1;
  border-radius: 4px;
  height: fit-content;
  opacity: 1;
  transition: .2s ease-in-out;
}

.guest-list-inner {
  margin: 4px 0 0 0;
  padding: 4px;
  background-color: #f1f1f1;
  border-radius: 4px;
  height: fit-content;
  opacity: 1;
  transition: .2s ease-in-out;
}

.guest-list--hidden {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: .2s ease-in-out;
}

.add-info__title {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manage__form-details {
  display: flex;
  flex-direction: column;
}

.manage__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px;
  padding: 0 8px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.manage__info-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px;
  padding: 0 8px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.manage__info-time-date {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px;
  margin-bottom: 8px;
  padding: 0 32px;
  border-radius: 4px;
  border: .6px solid #ccc
}

/*______________________________________ MODS */
.--centered-text {
  text-align: center;
}

.--gray-shading {
  background-color: #f1f1f1;
  border-bottom: 1px solid #ccc;
}

.--gray-shading-line {
  background-color: #fff;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
  border-left: 6px solid #ccc;
}

.--grey-text {
  color: #cccccc;
  margin: 0;
  line-height: 12px;
}

.--with-margin-t-8px {
  margin-top: 8px;
}

.--with-margin-n-8px {
  margin-bottom: 8px;
}

.--bold-gray {
  font-weight: bold;
  margin: 0 8px;
  color: #cccccc;
}

.--red-highlight-text {
  color: #Ef4b4c
}

.--text12px {
  font-size: 12px;
}

.--text20px{
  font-size: 20px;
}

.--inline-tags {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.--spacer-20px {
  height: 20px;
}

.--spacer-60px {
  height: 60px;
}

.--flec-collumn {
  display: flex;
  flex-direction: column;
}

.--roundtrip-symbol {
  position: absolute;
  left: 2px;
  border-right: 1px solid #ccc;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 8px;;
}

.--oneway-symbol {
  position: absolute;
  left: 0px;
  border-right: 1px solid #ccc;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 6px;
}

.--gap8px {
  display: flex;
  gap: 8px;
}

/*______________________________________*/
