@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

/* ______________________________________ FONTS
font-family: 'Alegreya Sans', sans-serif;
*/

/* ______________________________________ COLOR THEMES
default text
636363

functional -> red 
Ef4b4c 
hover
f66161

outline -> gray
cccccc

shade -> light gray
f1f1f1

light -> almost white
fbfbfb
*/

/*______________________________________ PRIMITIVE STYLES */
* {
  /* outline: dashed red; */
  font-family: 'Alegreya Sans', sans-serif;
  box-sizing: inherit;
  color: #636363;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fbfbfb;
}

h2 {
  margin: 0;
}

h4,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

.--red-highlight-text {
  color: #Ef4b4c
}

/*______________________________________ HIGH-LEVEL */
.navbar {
  z-index: 100;
  position: fixed;
  height: 40px;
  top: 0px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid #cccccc;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 0px 0 80px 0;
}

.main__public-page {
  margin-top: 60px;
}

/* app description */
.app-description {
  text-align: center;
  margin: 32px 16px;
}

.app-description__section {
  margin: 32px 16px;
  text-align: center;
}/* __________ */

.footer {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 0 8px;
  bottom: 0px;
  width: 100vw;
  height: 32px;
  background-color: rgba(248, 248, 248, .8);
  backdrop-filter: blur(8px);
  border-top: 2px solid #fff;
}

.user-image {
  border-radius: 99px;
  margin-right:8px;
}

.account-components {
  margin-top: 80px;
}

.greeting {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

/*______________________________________ BUTTONS */
.absolute-button-top-right {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 80px;
}

.absolute-button-bottom-left {
  position: absolute;
  bottom: 8px;
}

.action-button {
  background-color: #Ef4b4c;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  height: 24px;
  max-width: 100px;
  margin-right: 8px;
}

.action-button:hover {
  cursor: pointer;
  background-color: #f66161;
}

.navbar__button {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  /* color: #Ef4b4c; */
  border-radius: 4px;
  height: 24px;
  max-width: 100px;
  margin-right: 8px;
}
.navbar__button:hover {
  cursor: pointer;
  background-color: #f1f1f1;
}

.account-buttons{
  z-index: 100;
  position: fixed;
  display: grid;
  grid-template: 'a b c d';
  width: 100vw;
  bottom: 0px;
  height: 48px;
  align-items: center;
  background-color: #fff;
}
.page-button{
  font-size: 16px;
  background-color: #fff;
  border: none;
  border-top: solid 1px #cccccc;
  color: #Ef4b4c;
  height: 48px;
  transition: .2s;
}
.page-button:hover {
  cursor: pointer;
  /* background-color: #f1f1f1; */
  font-size: 18px;
  transition: .2s;
}
.page-button--selected {
  font-size: 16px;
  background-color: #fff;
  border: none;
  border-top: solid 1px #cccccc;
  color: #Ef4b4c;
  height: 48px;
  font-weight: bold;
  transition: .2s;
}

.page-button--selected:hover {
  font-size: 18px;
  transition: .2s;
}

/*______________________________________ FORM */
pre {
  margin: 4px;
}
.create-event-form {
  display: flex;
  flex-direction: column;
  border-radius: .375rem;
}
textarea,
input {
  margin: 0px;
  border-radius: .375rem;
  border: solid gray .5px;
}
input {
  height: 20px;
}
.rti--container {
  margin: 4px;
}

.inline-label-input {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.--with-margin-t-8px {
  margin-top: 8px;
}

/*______________________________________ CARDS */
.event-card {
  position: relative;
  margin: 16px 16px 32px;
  padding: 8px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: #cccccc 0px 2px 4px 1px;
  display: flex;
  flex-direction: column;
  min-width: 340px;
  max-width: 400px;
  min-height: 240px;
}
/*______________________________________ TITLES */


/*______________________________________*/
