@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

/* ______________________________________ FONTS
font-family: 'Alegreya Sans', sans-serif;
*/

/* ______________________________________ COLOR THEMES
default text
636363

functional -> red 
Ef4b4c 
hover
f66161
active
f89292
extra-light
f99494

outline -> gray
cccccc

soft-shadow -> gray
eaeaea

normal button -> white to gray
ffffff
hover
f1f1f1
click
f5f5f5

light -> almost white
fbfbfb
*/

/*______________________________________ PRIMITIVE STYLES */
* {
  /* outline: dashed red; */
  font-family: 'Alegreya Sans', sans-serif;
  box-sizing: inherit;
  color: #636363;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fbfbfb;
}

h2 {
  margin: 4px 0 0 0;
  color: #ef4b4c;
}

h3 {
  margin: 0 0 16px 0;
}

h4 {
  margin: 0;
  text-align: center;
}

h5 {
  text-align: center;
  margin: 16px 8px 8px 8px;
  color: #ef4b4c;
}

p {
  margin: 0;
}

a {
  color: rgb(0, 110, 255);
}

/*______________________________________ HIGH-LEVEL */
.home__about {
  text-decoration: none;
  margin: 8px 0 0 8px;
  color: #636363;
}

.navbar {
  z-index: 100;
  position: fixed;
  height: 40px;
  top: 0px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid #cccccc;
  padding: 0 8px 0 16px;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 0px 0 80px 0;
  align-items: center;
}

.main__public-page {
  margin-top: 60px;
}

/* app description */
.app-description {
  text-align: center;
  margin: 32px 16px;
  padding: 16px;
}

.app-description__section {
  margin-top: 60px;
  background-color: #f89292;
  text-align: center;
  min-height: 100vh;
  width: 100vw;
  padding: 16px;
  box-shadow: 1px 1px 16px 16px #f89292;
}

.promo-image {
  margin-bottom: 40px;
}

.promo-title {
  color: #fff;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 0;
}
/* __________ */

.footer {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 0 16px;
  bottom: 0px;
  width: 100vw;
  height: 40px;
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.user-image {
  border-radius: 99px;
  margin-right: 8px;
}

.account-components {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.greeting {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.logo {
  border-radius: 99px;
  margin-top: 4px;
}

.logo:hover {
  cursor: pointer;
  box-shadow: 0px 0px 2px 1px #f4c6c6;
  background-color: #f4c6c6;
}

/*______________________________________ BUTTONS */
.absolute-button-top-right {
  position: absolute;
  right: 0px;
  top: 8px;
}

.absolute-button-top-right--second {
  position: absolute;
  right: 70px;
  top: 8px;
}

.absolute-button-bottom-left {
  position: absolute;
  bottom: 8px;
}

.absolute-button-bottom-left--second {
  position: absolute;
  bottom: 8px;
  left: 80px;
}

.absolute-button-bottom-right {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.absolute-button-bottom-right--second {
  position: absolute;
  bottom: 8px;
  right: 80px;
}

.absolute-top-left {
  position: absolute;
}

.action-button {
  background-color: #ef4b4c;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  height: 24px;
  min-width: 64px;
  max-width: 100px;
  min-width: 60px;
  margin-right: 8px;
  transition: 0.2s ease-in-out;
}

.action-button:hover {
  cursor: pointer;
  background-color: #f66161;
  transition: 0.2s ease-in-out;
}

.action-button:active {
  cursor: pointer;
  background-color: #f89292;
}

.navbar__button {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  height: 24px;
  max-width: 100px;
  margin-right: 8px;
}
.navbar__button:hover {
  cursor: pointer;
  background-color: #f1f1f1;
  transition: 0.2s ease-in-out;
}
.navbar__button:active {
  background-color: #f5f5f5;
  transition: 0.2s ease-in-out;
}










.suttle-button {
  color: #f89292;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  height: 24px;
  max-width: 100px;
  margin-right: 8px;
}
.suttle-button:hover {
  cursor: pointer;
  background-color: #f1f1f1;
  transition: 0.2s ease-in-out;
}
.suttle-button:active {
  background-color: #f5f5f5;
  transition: 0.2s ease-in-out;
}






.navbar__button--disabled {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  color: #cccccc;
  border-radius: 4px;
  height: 24px;
  width: 64px;
  margin-right: 8px;
}

.account-buttons {
  z-index: 100;
  position: fixed;
  display: grid;
  grid-template: 'a b c d';
  width: 100vw;
  bottom: 0px;
  height: 48px;
  align-items: center;
  background-color: #fff;
}
.page-button {
  font-size: 16px;
  background-color: #fff;
  border: none;
  border-top: solid 1px #cccccc;
  color: #ef4b4c;
  height: 48px;
  transition: 0.2s;
}
.page-button:hover {
  cursor: pointer;
  font-size: 18px;
  transition: 0.2s;
}
.page-button--selected {
  font-size: 16px;
  background-color: #fff;
  border: none;
  border-top: solid 1px #cccccc;
  color: #ef4b4c;
  height: 48px;
  font-weight: bold;
  transition: 0.2s;
}

.page-button--selected:hover {
  font-size: 18px;
  transition: 0.2s;
}

.toggle-button {
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  margin-left: 0px;
  height: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s ease-in-out;
}

.toggle-button:hover {
  cursor: pointer;
  background-color: #f1f1f1;
  transition: 0.2s ease-in-out;
}

.toggle-description-button {
  display: flex;
  justify-content: space-between;
}

.toggle-description-button:hover {
  cursor: pointer;
}

.delete-guest {
  margin: 0;
  padding: 0 4px;
  color: #f89292;
  border-radius: 4px;
  transition: 0.2s;
}

.delete-guest:hover {
  color: #ef4b4c;
  transition: 0.2s;
}

/*______________________________________ FORM */
pre {
  margin: 4px;
}

b {
  margin: 0 8px 0 0;
}

.form__offerings {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
}

.form__offerings-alone {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.create-event-form {
  display: flex;
  flex-direction: column;
  border-radius: 0.375rem;
}

textarea,
input {
  margin: 0px 8px 0 0;
  border-radius: 0.375rem;
  border: solid #cccccc 0.5px;
  padding-left: 8px;
}

input {
  height: 28px;
}

.rti--container {
  margin-bottom: 8px;
}
.rti--input {
  width: 70% !important;
  height: 22px;
}

.inline-label-input {
  display: flex;
  align-items: center;
  margin-top: 6px;
}

.form__input-120w {
  width: 120px;
  margin-bottom: 8px;
}

.form__section-title {
  text-align: center;
  margin: 32px 0 8px 0;
}

/*______________________________________ CARDS */
.event-card {
  position: relative;
  margin: 8px 16px 32px;
  padding: 8px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: #eaeaea -2px 4px 4px 4px;
  display: flex;
  flex-direction: column;
  width: 340px;
  min-height: 240px;
}

.my-info-card {
  position: relative;
  margin: 8px 16px 32px;
  padding: 8px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: #eaeaea -2px 4px 4px 4px;
  display: flex;
  flex-direction: column;
  width: 340px;
  min-height: 320px;
}

.policy-card {
  position: relative;
  margin: 60px auto;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: #eaeaea -2px 4px 4px 4px;
  display: flex;
  flex-direction: column;
  min-width: 340px;
  max-width: 600px;
}

.manage__create-by {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  align-self: center;
  text-align: center;
}

.manage__add-guest {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
}

.add-info__title {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manage__form-details {
  display: flex;
  flex-direction: column;
}

.manage__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px;
  padding: 0 8px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.manage__description {
  display: flex;
  flex-direction: column;
  margin: 0 16px;
  padding: 0 8px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.manage__info-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px;
  padding: 0 8px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.manage__info-time-date {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px;
  margin-bottom: 8px;
  padding: 4px 0 4px 40px;
  border-radius: 4px;
  border: 0.6px solid #ccc;
}

.manage__info-time-date-event {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px;
  margin-bottom: 8px;
  padding: 4px 20px;
  border-radius: 4px;
  border: 0.6px solid #ccc;
}

/*________________________________ LIST DISPLAY */

.guest-list {
  margin: 4px 16px 8px;
  padding: 4px;
  background-color: #f1f1f1;
  border-radius: 4px;
  height: fit-content;
  opacity: 1;
  transition: 0.2s ease-in-out;
}

.guest-list-inner {
  margin: 4px 0 0 0;
  padding: 4px;
  background-color: #f1f1f1;
  border-radius: 4px;
  height: fit-content;
  opacity: 1;
  transition: 0.2s ease-in-out;
}

.guest-list--hidden {
  line-height: 0px;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.list__names {
  padding: 4px 8px;
  font-size: 14px;
  max-height: 320px;
  overflow: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.guest-restrictions {
  display: none;
  background-color: #fff;
  padding: 0 8px;
  margin-bottom: 4px;
  border-radius: 4px;
  opacity: 0;
  height: 0;
}

.guest-restrictions--selected {
  background-color: #fff;
  padding: 0 8px;
  margin-bottom: 4px;
  border-radius: 4px;
  opacity: 1;
  height: 1;
  display: block;
}

.restriction-alert {
  border-radius: 4px;
  font-weight: bold;
  padding: 2px;
  font-size: 12px;
  color: #f99494;
  transition: 0.2s;
}

.restriction-alert:hover {
  color: #ef4b4c;
  cursor: pointer;
  transition: 0.2s;
}

.restriction-alert-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answer-invite-buttons {
  display: flex;
  justify-content: center;
  margin: 16px;
}

.description-hidden {
  height: 0;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}
.description-visible {
  min-height: 20px;
  transition: 0.2s ease-in-out;
}

/*______________________________________  */

/*______________________________________ MODS */

.--centered-text {
  text-align: center;
}

.--width60px {
  width: 60px;
}

.--width350px {
  width: 350px;
}

.--gray-shading {
  background-color: #f1f1f1;
  border-bottom: 1px solid #ccc;
}

.--gray-shading-line {
  background-color: #fff;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
  border-left: 6px solid #ccc;
}

.--grey-text {
  color: #ccc;
  margin: 0;
  line-height: 12px;
}

.--with-margin-t-8px {
  margin-top: 8px;
}

.--with-margin-n-8px {
  margin-bottom: 8px;
}

.--marginB16px {
  margin-top: 32px;
  margin-left: 16px;
  margin-bottom: 16px;
}

.--bold {
  font-weight: bold;
}

.--bold-gray {
  font-weight: bold;
  margin: 0 8px 0 0;
  color: #cccccc;
}

.--red-highlight-text {
  color: #ef4b4c;
}

.--text12px {
  font-size: 12px;
}

.--text20px {
  font-size: 20px;
}

.--inline-tags {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.--spacer-8px {
  height: 8px;
}

.--spacer-20px {
  height: 20px;
}

.--spacer-60px {
  height: 60px;
}

.--flec-collumn {
  display: flex;
  flex-direction: column;
}

.--roundtrip-symbol {
  position: absolute;
  left: 2px;
  border-right: 1px solid #ccc;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 8px;
}

.--oneway-symbol {
  position: absolute;
  left: 0px;
  border-right: 1px solid #ccc;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 6px;
}

.--gap8px {
  display: flex;
  gap: 8px;
}

.--margin-left4px {
  margin-left: 4px;
}

.--margin-ltr16px {
  margin: 16px 16px 0 16px;
}

.--padding-left8px {
  padding-left: 8px;
}

.--margin12px {
  margin: 12px;
}

.--maringRL {
  margin: 0 4px 0 12px;
}

.--padding-right8px {
  padding-right: 8px;
}

.--pointer-hover:hover {
  cursor: pointer;
  background-color: #fff;
  border-radius: 4px;
  transition: 0.2s ease-in-out;
}

.--position-relative {
  position: relative;
}

.--self-centered {
  text-align: center;
  position: relative;
  align-self: center;
  justify-self: center;
}
/* ______________________________________ */

/* ______________________________________ DIVIDERS */
.--tiny-dots {
  border-top: dotted 5px #ccc;
  width: 5px;
}

.--small-dots {
  border-top: dotted 10px #ccc;
  width: 10px;
}

.--medium-dots {
  border-top: dotted 15px #ccc;
  width: 15px;
}

.--big-dots {
  border-top: dotted 20px #ccc;
  width: 20px;
}

.--red-bar-divider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 160px;
  margin: 20px auto 36px auto;
}

.easter-egg {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  margin: 40px 10px 10px 10px;
}

/*______________________________________*/

/*__________________________ LOADING SUSPENSE */

.loader-demo-box {
  border-radius: 0.25rem !important;
}

.loader-demo-box {
  width: 100%;
  height: 200px;
}

.jumping-dots-loader {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
  margin-top: 200px;
}

.jumping-dots-loader span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: rgba(241, 83, 110, 0.8);
  margin: 35px 5px;
}

.jumping-dots-loader span:nth-child(1) {
  animation: bounce 1s ease-in-out infinite;
}

.jumping-dots-loader span:nth-child(2) {
  animation: bounce 1s ease-in-out 0.33s infinite;
}

.jumping-dots-loader span:nth-child(3) {
  animation: bounce 1s ease-in-out 0.66s infinite;
}

@keyframes bounce {
  0%,
  75%,
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  25% {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

/*______________________________________*/

/*__________________________ LOADING UI */
.loading-ui {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.line {
  margin-top: 15px;
  height: 20px;
  width: 100px;
  border-radius: 4px;
}

.line1 {
  width: 100px;
  margin-top: 0;
}

.line5 {
  width: 160px;
}

.loading-animation {
  overflow: hidden;
  background: #eee;
}

.loading-animation::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  animation: loading 1s infinite;
  background: linear-gradient(to right, transparent, #ddd, transparent);
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
/*______________________________________*/

/*__________________________ SPINNER */
.spinner {
  margin: auto;
  width: 1em;
  height: 1em;
  border: 0.5em solid rgba(0, 0, 0, 0.1);
  border-left-color: #ccc;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/*______________________________________*/
